@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');
/* reset rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol,ul{
    list-style: none;
}

img{
    max-width: 100%;
}

a{
    color: currentColor;
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
    color: currentColor;
}

/* layout */
body{
    font-family: "Montserrat", sans-serif;
}

.viewport-height{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.playbar{
    height: 90px;
}

.main-content{
    /* item */
    flex-grow: 1;
    /* container flex */
    display: flex;
}

p, span{
    font-size: 13px;
}

/* sidebar */
.sidebar{
    flex-basis: 50px;
    padding: 5px 11px 11px;
    background-color: black;
    color: white;
    flex-shrink: 0;
    /* display */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-app{
    margin-bottom: 14px;
}

.favicon{
    filter: invert(94%) sepia(6%) saturate(0%) hue-rotate(81deg) brightness(106%) contrast(105%);
}

.logo{
    display: none;
}

.main-menu img{
    width: 22px;
    aspect-ratio: 1/1;
}

.main-menu a:not(:last-child){
    margin-bottom: 14px;
}

.sidebar-top{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-menu span, .profile span{
    display: none;
}

.playlist{
    display: none;
}

.playlist > p{
    text-transform: uppercase;
}

.create-playlist :first-child{
    padding: 8px;
    background-color: #A3A3A3;
}

.create-playlist{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-profile{
    width: 26px;
    aspect-ratio: 1/1;
    background-color: #808080;
    border-radius: 50%;
    font-size: 15px;
}

.download{
    width: 12px;
    aspect-ratio: 1/1;
}

.profile{
    text-align: center;
}

.profile > div:first-child{
    margin-bottom: 22px;
}

.profile > div{
    display: flex;
    align-items: center;
    gap: 12px;
}

/* home */
.home{
    flex-grow: 1;
}

/* utilities */

/* mobile-first */
/* media queries */
@media (min-width: 639px){
    .sidebar{
        flex-basis: 230px;
        padding: 20px 20px 11px;
        text-align: left;
        align-items: flex-start;
    }

    .logo{
        display: block;
        width: 132px;
    }

    .favicon{
        display: none;
    }

    .sidebar-top{
        align-items: flex-start;
        text-align: left;
    }    

    .main-menu span, .profile span{
        display: inline-block;
    }

    .playlist{
        display: block;
    }

    .main-menu{
        margin-bottom: 30px;
    }

    .playlist p{
        margin-bottom: 10px;
    }

    .playlist li:not(:last-child){
        margin-bottom: 22px;
    }
}