@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');
/* reset rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol,ul{
    list-style: none;
}

img{
    max-width: 100%;
}

a{
    color: currentColor;
    text-decoration: none;
}

/* layout */
.viewport-height{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.playbar{
    height: 90px;
}

.main-content{
    /* item */
    flex-grow: 1;
    /* container flex */
    display: flex;
}

/* sidebar */
.sidebar{
    flex-basis: 50px;
    padding: 5px 11px 11px;
}

.logo{
    display: none;
}

/* home */
.home{
    flex-grow: 1;
}

/* utilities */

/* mobile-first */
/* media queries */
@media (min-width: 639px){
    .sidebar{
        flex-basis: 230px;
    }
}